<main class="homepage">
    <%= image_tag("https://www.shearcomfort.com/blog/wp-content/uploads/I-have-no-idea-what-I-am-doing.jpg", alt: "Puppy driving a car with the caption I have no idea what I am doing", class: "main-image")%>
  <div class="homepage-buttons">
  </div>
</main>
