<main class="homepage">
    <%= image_tag("https://www.shearcomfort.com/blog/wp-content/uploads/I-have-no-idea-what-I-am-doing.jpg", alt: "Puppy driving a car with the caption I have no idea what I am doing", class: "main-image")%>
  <div class="homepage-buttons">
    <%= button_to "Manage Drivers", drivers_path, class: "link" %>
    <%= button_to "Manage Passengers", passengers_path, class: "link" %>
  </div>
</main>
