<div class="todo_card">
<%= form_with model: @task, class:'passenger-form' do |f| %>
  <p>Please provide the following information to save a new passenger:</p>
  <%= render partial: 'form' %>
<% end %>
</div>
