
.passenger_card {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FDF1CE;
  width: auto;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  font-size: 20px;
  color: #000;
  background-color: #E3E081;
  width: fit-content;
  padding: 15px;
  margin: 15px;
  text-align: center;
  border-radius: 25px;
}

.link:hover {
  background-color: #F1B480;
}

.table-link {
  font-size: 20px;
  color: #000;
  background-color: #E3E081;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 25px;
}

.table-link:hover {
  background-color: #F1B480;
}

table {
  background-color: #F1B480;
  border-radius: 25px;
  color: #000000;
  margin: 50px;
  text-align: center;
}

th {
  font-size: 25px;
  padding: 30px;
}

td {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.value {
  font-size: 20px;
}

.total {
  background-color: #F1B480;
  border-radius: 25px;
  color: #000000;
  margin: 30px;
  text-align: center;
  width: 400px;
  padding-top: 20px;
}

.title {
  background-color: #F1B480;
  border-radius: 25px;
  color: #000000;
  margin: 30px;
  margin-top: 50px;
  text-align: center;
  width: 400px;
}

//RESOURCES: https://nasir.wordpress.com/2008/04/16/formattingstyling-will_paginate/
.pagination {
  color: #000000;
  font-size: 20px;
  // border: solid red;
}

.pagination a {
  color: #000000;
  padding: 5px;
  // border: solid red;
}

.pagination .current {
  color: #E3E081;
  padding: 5px;
  font-size: 30px;
  // border: solid red;
}

.passenger-form {
  height: auto;
  width: 400px;
  border-radius: 25px;
  padding-top: 40px;
  color: #F1B480;
  background-color: #213C55;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell {
  padding: 10px;
}

.errors {
  list-style: none;
  text-align: center;
  font-size: 25px;
}